main/**/node_modules/
main/**/dist/
main/**/.next/
main/**/out/
main/**/.env
main/**/.env.*
main/**/vite-dev.log
main/**/output/
main/**/.playwright-cli/
main/**/.npmrc
*.log

.vercel
dist/
.npm-cache/
.vercel-cli/
